Webscraping and Pandas

In [4]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [5]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36"
}

page = requests.get(url, headers=headers)

# Retrieves HTML from specified webpage
soup = BeautifulSoup(page.text, 'html')

In [6]:
# Retrieves the specific data table desired on webpage
table = soup.find('table', class_ = 'wikitable')

In [40]:
# Retrieves headers (columns) from table
world_titles = table.find_all("th")

# Converts headers to text
world_table_titles = []
for title in world_titles:
    world_table_titles.append(title.get_text(strip=True))

# Create dataframe in panndas
df = pd.DataFrame(columns=world_table_titles)

# Retrieves rows from table
table_rows = table.find_all("tr")

# Retrieves data entries from rows (skips header row)
for row in table_rows[1:]:
    row_data = row.find_all("td")
    
    individual_row_data = []
    for data in row_data:
        individual_row_data.append(data.get_text(strip=True))

    # Loops through each row of dataframe and adds row data
    length = len(df)
    df.loc[length] = individual_row_data

df

,Rank,Name,Industry,Revenue(USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"680,985",5.1%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail andcloud computing,"637,959",11.0%,"1,556,000","Seattle, Washington"
2,3,UnitedHealth Group,Healthcare,"400,278",7.7%,"400,000","Minnetonka, Minnesota"
3,4,Apple,Electronics industry,"391,035",2.0%,"164,000","Cupertino, California"
4,5,CVS Health,Healthcare,"372,809",4.2%,"259,500","Woonsocket, Rhode Island"
...,...,...,...,...,...,...,...
95,96,General Dynamics,Aerospace and defense,"47,716",12.9%,"117,000","Reston, Virginia"
96,97,Coca-Cola,Beverage,"47,061",2.9%,"69,700","Atlanta, Georgia"
97,98,TIAA,Financials,"46,946",2.6%,"15,623","New York City, New York"
98,99,The Travelers Companies,Insurance,"46,423",12.2%,"34,000","New York City, New York"
99,100,Eli Lilly,Pharmaceutical industry,"45,043",32.0%,"47,000","Indianapolis, Indiana"

In [41]:
# Export table as .csv
df.to_csv(r'C:\Users\rfros\OneDrive\Documents\MySQL Data Files\Webscraping\Companies.csv', index = False)